minecraft/config
minecraft/config/*
minecraft/config/**
minecraft/config/**/**
minecraft/config/*/*
minecraft/config/**/*
minecraft/config/*/**
minecraft/config/*.*
minecraft/config/*/*.*
minecraft/config/**/*.*
minecraft/config/.gitignore
